
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reporte</title>
</head>
<body>
    <div>
        <iframe title="Report Section" width="1600" height="900" src="https://app.powerbi.com/view?r=eyJrIjoiOWFiMDMwYzktYjBhMi00MzNkLWIyZGMtOTFlZWZmYTE0OWM0IiwidCI6IjU3MjZmYjQyLTg0MjYtNDU3Ny05OTY0LWYxM2E2MmFkNWViOSIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>

    </div>
</body>
</html>
