@* Importar *@

@using RecepcionFacturas.Models;
@using System.Web.Mvc;


@{
    ViewBag.Title = "Login";

}

<h2>Login</h2>

<h2>Iniciar sesión</h2>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>}

@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
 
    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
}
