<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <remove name="WebDAV" /> <!-- Eliminar WebDAV si está presente -->
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
        <add name="WebDAV" path="*" verb="PUT, DELETE" modules="WebDAVModule" resourceType="Unspecified" requireAccess="Write" />
      </handlers>
      <modules>
        <remove name="WebDAVModule" /> <!-- Asegúrate de que WebDAVModule esté eliminado -->
      </modules>
      <aspNetCore processPath="dotnet" arguments=".\WorkOrdersAPI.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 12CE395F-C987-88EB-0195-E9DA9010369F-->